# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

.*.sw[op]
*~
*.[oa]
*.lo
.deps
.dirstamp
.libs
tags

/aclocal.m4
/autom4te.cache/
/config.log
/config/
/config.status
/configure
/depcomp
/install-sh
/libtool
/m4/
/Makefile.in
/Makefile
/missing
/src/examples/parse-edid/parse-edid

